<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MemeCam Camera</string>
	<key>CFBundleExecutable</key>
	<string>com.hexarch.memecam.camera-extension</string>
	<key>CFBundleIdentifier</key>
	<string>com.hexarch.memecam.camera-extension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MemeCam Camera</string>
	<key>CFBundlePackageType</key>
	<string>SYSX</string>
	<key>CFBundleShortVersionString</key>
	<string>__SHORT_VERSION__</string>
	<key>CFBundleVersion</key>
	<string>__BUILD_NUMBER__</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>CMIOExtension</key>
	<dict>
		<key>CMIOExtensionMachServiceName</key>
		<string>__TEAM_ID__.com.hexarch.memecam</string>
	</dict>
	<key>NSSystemExtensionUsageDescription</key>
	<string>MemeCam adds a virtual camera named “MemeCam” that other apps like Discord and Telegram can use.</string>
</dict>
</plist>
